@font-face {
    font-family: bold-700;
    src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
    font-family: semibold-600;
    src: url(../fonts/Montserrat-SemiBold.ttf);
}
@font-face {
    font-family: regular-400;
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: medium-500;
    src: url(../fonts/Montserrat-Medium.ttf);
}