


.mailing{
    max-width: 1440px;
    width: 100%;
    height: 363px;
    background: #F2F5FF;
    .container{
        .mail-parent{
            .mail-text{
                text-align: center;
                .mail-h3{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 32px;
                    line-height: 39px;
                    color: #333333;
                    padding-top: 60px;
                }
                .mail-p{
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 39px;
                    color: #666666;
                    margin-top: 10px;                    
                }
                .input-1{
                    max-width: 486px;
                    width: 100%;
                    padding: 25px 133px 25px 25px;
                }
                .btn{
                    background: #054C73;
                    border: 1px solid #011C42;
                    border-radius: 3px;
                    font-family: 'Montserrat';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 20px;
                    color: #FFFFFF;
                    padding: 24px 45px;
                }
            }
        }
    }
    
}

@media only screen and (max-width: 1200px) {
    .mailing{
        height: fit-content;
        padding-bottom: 30px;
    }
    .btn{
        margin-top: 20px;
    }
    .beauty{
        height: fit-content !important;
    }
}