

.space{
    .row{
        display: flex;
        justify-content: space-between;
        width: 100%;

    }
    height: 874px;
    background: #F2F5FF;
    .container{
        .space-txt{
            
            .space-h3{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 32px;
                line-height: 39px;
                color: #333333;
                padding-top: 295px;
            }
            .space-p{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 39px;
                color: #666666;
                margin-top: 20px;
            }
            .space-btn{
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 700;
                font-size: 16px;
                line-height: 20px;
                text-transform: uppercase;               
                color: #FFFFFF;
                flex: none;
                order: 0;
                flex-grow: 0;
                background: #054C73;
                border-radius: 50px;
                padding: 24px 57px;
                border: hidden;
                margin-top: 30px;                
            }
        }
        .space-photos{
            .sp-ph{
                width: 500px;
                height: 754px;
                margin-top: 60px;
            }


        }
    }
}

@media only screen and (max-width: 850px) {
    .space{
        .row{
            flex-direction: column-reverse;
            align-items: center;
            text-align: center;
            .space-txt{
                h3 {
                    padding-top: 10px !important;
                    font-size: 28px !important;
                }
                p{
                    font-size: 15px !important;
                }
                button{
                    padding: 15px 20px !important;
                }
            }
            .space-photos{
                img{
                    width: 90% !important;
                    height: 500px !important;
                }
            }
        }
    }
}